html,
body {
  margin: 0;
  padding: 30px;
  height: 100%;
  font-family: $font-family-sans-serif;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  max-width: 300px;
  height: auto;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $bg-gris-oscuro;
  margin: 0;
  font-weight: 600;
  font-family: $font-family-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  color: $color_texto;
  line-height: 1.8;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.caja {
  padding-top: 125px;
  padding-bottom: 110px;
}

.titulo {
  display: inline-block;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 2px;
  line-height: normal;
}

.titulo ::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: $bg-gris-oscuro;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------
  Seccion personal
----------------------- */
.seccion-personal {
  background: $bg-personal;
}

.frase-descripcion {
  margin-bottom: 80px;
}

.frase-descripcion-titulo {
  font-size: 80px;
  line-height: normal;
  margin-bottom: 20px;
}

.frase-descripcion-parrafo {
  font-size: 33px;
  line-height: 1.3;
}

.foto-cv {
  padding-top: 70px;
  text-align: center;
}

.informacion-general-titulo {
  margin-bottom: 30px;
}

.informacion-general-lista {
  list-style: none;
}

.informacion-general-lista-elto {
  font-size: 24px;
  color: $color_texto;
  margin-bottom: 15px;
}

.informacion-general-lista-elto-cabecera {
  color: $bg-gris-oscuro;
  display: inline-block;
  min-width: 220px;
}

.informacion-general-lista-elto:last-child {
  margin-bottom: 0;
}

/* comprobar esto que solo sale bien si estoy inspeccionando */
.row {
  width: 100%;
}

.flotaizquierda {
  float: left;
  width: 49%;
}

.flotaderecha {
  float: right;
  width: 49%;
}

/* ---------------------
  Seccion redes sociales
----------------------- */

.redes-sociales {
  background: $bg-gris-claro;
  padding: 80px 0;
}

.redes-sociales .enlaces-redes {
  display: inline-block;
  background: $bg-gris-claro;
  position: relative;
  z-index: 5;
}

.redes-sociales .enlaces-redes-enlace {
  color: $bg-gris-oscuro;
  font-size: 36px;
  margin-right: 40px;
}

.redes-sociales .redes-sociales-envoltorio {
  position: relative;
}

.redes-sociales .redes-sociales-envoltorio h2 {
  display: inline-block;
  float: right;
  font-weight: 400;
  padding-left: 30px;
  background: $bg-gris-claro;
  position: relative;
  z-index: 5;
}

.redes-sociales .redes-sociales-envoltorio::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  left: 23%;
  top: 50%;
  margin-top: 1px;
  background: $bg-gris-medio;
}

/* ---------------------
  Seccion experiencia
---------------------- */
.seccion-experiencia.fondo {
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lista {
  list-style: none;
  margin-left: 60px;
  padding-left: 110px;
  border-left: 2px solid $bg-gris-oscuro;
}

.lista-elto {
  margin-bottom: 120px;
  position: relative;
}

.lista li:last-child {
  margin-bottom: 0;
}

.lista li::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid $bg-gris-oscuro;
  border-radius: 50px;
  background: $bg-gris-medio;
  top: 30px;
  left: -118px;
}

.lista-elto-titulo {
  font-size: 72px;
  margin-bottom: 10px;
}

.lista-elto-subtitulo {
  font-size: 16px;
  text-transform: uppercase;
  color: $color_texto;
  margin-top: 10px;
  margin-bottom: 45px;
}

.lista-elto-parrafo {
  margin-bottom: 0;
}

/* ===========================
  Responsive
============================== */
@media only screen and (max-width: 1900px) {
  img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1600px) {
  img {
    max-width: 50%;
  }

  .frase-descripcion-titulo {
    font-size: 55px;
  }
}

@media only screen and (max-width: 1450px) {
  img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {
  .informacion-general-lista-elto-cabecera {
    min-width: 180px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .informacion-general-lista-elto-cabecera {
    min-width: 180px;
  }

  .caja {
    padding-top: 125px;
    padding-bottom: 210px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flotaizquierda {
    float: left;
    width: 100%;
  }

  .redes-sociales .enlaces-redes {
    display: block;
    text-align: center;
  }

  .redes-sociales-envoltorio::after {
    display: none;
  }

  .seccion-personal .informacion-general-lista-elto-cabecera {
    color: $bg-gris-texto;
  }

  .informacion-general-lista {
    margin-bottom: 30px;
  }

  .informacion-general-lista-elto-cabecera {
    display: block;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .flotaizquierda {
    float: left;
    width: 100%;
  }

  .frase-descripcion-titulo {
    font-size: 30px;
  }

  .frase-descripcion-parrafo {
    font-size: 20px;
    line-height: 1.3;
  }

  h2 {
    font-size: 30px;
  }

  .hidden-md {
    display: none !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .lista {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  .redes-sociales .enlaces-redes {
    display: block;
    text-align: center;
  }

  .seccion-personal .informacion-general-lista-elto-cabecera {
    color: $bg-gris-texto;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .flotaizquierda {
    float: left;
    width: 100%;
  }

  img {
    max-width: 100%;
    visibility: hidden;
  }

  .frase-descripcion-titulo {
    font-size: 40px;
  }

  .informacion-general-lista {
    font-size: 18px;
  }

  .informacion-general-lista-elto-cabecera {
    display: block;
  }

  .redes-sociales .enlaces-redes-enlace {
    margin-right: 30px;
  }

  .lista-elto-titulo {
    font-size: 50px;
  }
}
