@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #f2f2f2;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$bg-personal:#f2f2f2;
$bg-gris-claro:#f9f9f9;
$bg-gris-oscuro:#40424a;
$bg-gris-medio:#cbcbcb;
$bg-gris-texto:#9c9b9b;
$color_texto:#808181;
